 .u-section-1 {
  background-image: linear-gradient(#004a5a, #293133);
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 50px auto 0 23px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 8px auto 0 23px;
}

.u-section-1 .u-image-1 {
  width: 745px;
  object-position: 50% 20.29%;
  height: 649px;
  margin: -66px -78px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 337px;
  margin: -537px auto 60px 128px;
}

.u-section-1 .u-repeater-1 {
  min-height: 304px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 10px 10px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 33px 11px 32px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 10px 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 33px 11px 32px;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 10px 10px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 33px 11px 32px;
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 10px 10px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 33px 11px 32px;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 10px 10px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 33px 11px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 117px;
  }

  .u-section-1 .u-image-1 {
    width: 558px;
    height: 698px;
    margin-top: -132px;
    margin-right: -100px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -517px;
    margin-left: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    width: 422px;
    margin-top: 51px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 699px;
    margin-top: -6px;
    margin-right: 138px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    width: 388px;
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
    margin-right: 228px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 426px;
    margin-top: 251px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 55px;
  }
}