 .u-section-1 {
  background-image: linear-gradient(#004a5a, #be4aea);
}

.u-section-1 .u-sheet-1 {
  min-height: 1214px;
}

.u-section-1 .u-image-1 {
  width: 229px;
  height: 78px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 46px 807px 0 198px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: -46px 224px 0 353px;
}

.u-section-1 .u-table-1 {
  width: 744px;
  height: 250px;
  margin: 20px auto 0;
}

.u-block-f782-30 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-f782-45 {
  height: 46px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  width: 304px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 255px;
  margin: 70px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 190px;
  width: 1072px;
  margin: 31px auto 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 190px;
  width: 1072px;
  margin: 20px auto -8px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 707px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -38px;
    margin-right: 124px;
    margin-left: 253px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: 300px;
    margin-top: 16px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 181px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -65px;
    margin-right: 14px;
    margin-left: 143px;
  }

  .u-section-1 .u-table-1 {
    width: 455px;
    margin-top: 10px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 93px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    margin-top: 31px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 398px;
    margin-top: -28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -17px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -63px;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 205px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 44px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 67px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 103px;
    width: 322px;
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -56px;
    margin-bottom: 60px;
  }
}